
html {
    --theme: #52be80;
    --theme-darker: #3db971;
    --text: #3a404b;
    --shadow: rgba(0, 0, 0, .15);
}

* {
    border: none;
    background: none;
    text-decoration: none;
    outline: none;
    transition-duration: .2s;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    width: 862px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

a {
    color: var(--theme);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    margin-top: 55px;
}

h1.title {
    padding-bottom: 10px;
    border-bottom: .5px solid var(--shadow);
    font-size: 38px;
}

a.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}

a.github-corner svg {
    height: 85px;
    color: white;
    fill: var(--theme);
}

a.github-corner:hover svg {
    fill: var(--theme-darker);
}

div.grid-container {
    margin: 25px 0 25px 0;
}

div.grid-container div.item {
    display: inline-block;
    width: 40%;
    margin: 55px 3%;
    box-shadow: 0 0 3px var(--shadow);
    border-radius: 15px;
    transition-duration: .35s;
}

div.grid-container div.item:hover {
    box-shadow: 0 0 15px var(--shadow);
    transform: translateY(-5px) scale(1.01);
}

div.grid-container div.item div.img {
    border-radius: 15px;
    height: 160px;
    background-size: 100%;
}

div.grid-container div.item div.text {
    text-align: left;
    padding: 10px 25px;
    color: var(--text);
}

@media only screen and (max-width: 862px) {
    div.grid-container div.item {
        display: block;
        width: 100%;
    }
}

div.footer {
    line-height: 70px;
}
